<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">

    <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="app/assets/stylesheets/custom.css" rel="stylesheet">
    
  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dictionary</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <% if session[:reg_id].nil? %>
            <a href="/login" role="button" class="btn btn-primary">Sign In</a> 
            <a href="/registrations/new" role="button" class="btn btn-primary">Register</a>
            <% end %>
            <% if session[:reg_id]%>
              <p class="navbar-brand">Wellcome, <%=session[:reg_username]%></p>
              <a href="/sessions/destroy" role="button" class="btn btn-primary">Log Out</a>
              <a href="/sessions/profile" role="button" class="btn btn-primary">Profile</a>
            <%end%>
          </form>
        </div>
      </div>
    </div>

    
    <div class="jumbotron ">
      <%if $error%>
        <%if $error == "Word doesn't exist." && session[:reg_id]%>
          <div class="error_container">
            <p class="error"><%= $error %><a href="/words/new"> Add it?</a></p>
            <% $error= nil %>
          </div>
        <% end %>
        <%if $error == "Word doesn't exist." && !session[:reg_id]%>
          <% $error= "No such word." %>
          <div class="error_container">
            <p class="error"><%= $error %><a href="/registrations/new"> Register to add it?</a></p>
            <% $error= nil %>
          </div>
        <% end %>
        <%if $error%>
          <div class="error_container">
            <p class="error"><%= $error %></p>
          </div>
        <%end%>
      <% end %>
      <% $error= nil %>
    </div>

    
      <div class="span2" >
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="index">Home</a>
            </li>
            <li>
              <a href="/random">random</a>
            </li>
            <%("a".."z").each do |letter|%>
            <li>
              <a href="/index?letter=<%= letter %>"><%= letter %></a>
            </li>
            <% end %>
        </ul>
      </div>
        
        <div class="span8">
          <% if @src
            @author = Registration.where(id: session[:reg_id]).take
              if @author
                @author_username = @author.username
              end
              @src.each do |word|
                
              @up = (word.votes.to_f / (word.votes+word.downvotes))*100
              @down = (word.downvotes.to_f / (word.votes+word.downvotes))*100
                  
               
              @desc = word.description.split(/(\b[^\s]+\b)/)
          %>
          
            <div id="<%= word.id %>" class="span7" style="border:solid; margin-top:5px;border: 1px solid #DDDDDD;border-top-right-radius:3em;">

            <div class="span6" style="margin-top:20px;">
             <div class="span3"><a class="wordlink" href="/index?src=<%=word.word%>"><%=word.word%></a></div> 
             <div class="span2"><div class="fb-share-button" data-href="http://asdf.org" data-type="button_count"></div></div>
            </div>
            
            <div class="span6">
              <hr>
                <p>
                  <% @desc.each do |desc|%>
                    <a href="/index?src=<%= desc %>"><%= desc %></a>
                  <% end %>
                </p>
            </div>

            <div class="span6">
              <hr>
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width:<%= @up %>%">
                  
                  <p><%= word.votes %></p>
                </div>
                <div class="progress-bar progress-bar-danger" style="width:<%= @down %>%">
                  
                  <p><%= word.downvotes%></p>
                </div>
              </div>
              <% if session[:reg_id]%>
                <button id="u<%= word.id %>" class="up btn btn-success">+</button>
                <button id="d<%= word.id %>" class="down btn btn-danger">-</button>
              <% end %>
            </div>

            <div class="span2">
              <p>by <%= word.author %></p>
              
            </div>
            <% if @author_username == word.author %>
            <div class="span1">
              <%= link_to "Edit", edit_word_path(word), class: "btn btn-primary", name: "ed"%>
            </div>
            <div class="span1" name="ed">
              <%= link_to "Delete", word, :confirm => "Are you sure?", :method => :delete, class: "btn btn-primary", name: "ed"%>
            </div>
            <% end %>
            </div>

            <% end %>
        <% end %>
        </div>
        
  <% if session[:reg_id]%>
    <div class="span2">
      <a href="/words/new" class="btn btn-primary">Add a word</a>
    </div>
  <% end %>
  <% if !session[:reg_id] %>
    <div class="span2"></div>
  <% end %>
    <form action="/index" method="get">
    <div class="span3">
      <input id="src" name="src" type="text" style="height:32px" placeholder="search for a word">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <form action="/index" method="get">
    <%if @src%>
      <div class="span2"></div>
    <% end %>
    <% if !@src%>
      <div class="span10"></div>
    <%end%>
    <div class="span3">
      <input id="usr" name="usr" type="text" style="height:32px" placeholder="search words by user">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <form action="/index" method="get">
    <%if @src%>
      <div class="span2"></div>
    <% end %>
    <% if !@src%>
      <div class="span10"></div>
    <%end%>
    <div class="span3">
      <input id="lang" name="lang" type="text" style="height:32px" placeholder="search words by language">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <script type="text/javascript" src="assets/javascript/bootstrap.js"/>
     <script type="text/javascript" src="assets/javascript/votes.js"/>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
  </body>
</html>