<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">

    <link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="app/assets/stylesheets/custom.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dictionary</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <% if session[:reg_id].nil? %>
            <a href="/sessions/new" role="button" class="btn btn-primary">Sign In</a> 
            <a href="/registrations/new" role="button" class="btn btn-primary">Register</a>
            <% end %>
            <% if session[:reg_id]%>
              <p class="navbar-brand">Wellcome, <%=session[:reg_username]%></p>
              <a href="/sessions/destroy" role="button" class="btn btn-primary">Log Out</a>
            <%end%>
          </form>
        </div>
      </div>
    </div>

    
    <div class="jumbotron">
    </div>

    
      <div class="span2" >
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">
                <a href="index">Home</a>
            </li>
            <li>
              <a href="/random">random</a>
            </li>
            <%("a".."z").each do |letter|%>
            <li>
              <a href="#"><%= letter %></a>
            </li>
            <% end %>
        </ul>
      </div>
        <%  @desc = @rand.description.split(/ /)
            @author = Registration.where(id: session[:reg_id]).take
            if @author

                @author_username = @author.username
              end
            if @rand.votes == 0
                  @up = 0
                else
                  if @rand.downvotes == 0
                    @down = 0
                  else
                    @up = (@rand.votes.to_f / (@rand.votes+@rand.downvotes))*100
                    @down = (@rand.downvotes.to_f / (@rand.votes+@rand.downvotes))*100
                  end
                end

         %>
        <div class="span8">
          <div class="span7" style="border:solid; margin-top:5px;border: 1px solid #DDDDDD;border-top-right-radius:3em;">
              <div class="span2">
                <h1><%= @rand.word %></h1>
                <hr>
              </div>
              <div class="span6">
                <p>
                  <% @desc.each do |desc|%>
                    <a href="/index?src=<%= desc %>"><%= desc %></a>
                  <% end %>
                </p>
            </div>
            <div class="span6">
              <hr>
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width:<%= @up %>%">
                  
                  <p><%= @rand.votes %></p>
                </div>
                <div class="progress-bar progress-bar-danger" style="width:<%= @down %>%">
                  
                  <p><%= @rand.downvotes%></p>
                </div>
              </div>
              <button id="up" class="btn btn-success">+</button>
              <button id="down" class="btn btn-danger">-</button>
            </div>
            <div class="span2">
              <p>by <%= @rand.author %></p>
            </div>
            <% if @author_username == @rand.author %>
            <div class="span1">
              <%= link_to "Edit", edit_word_path(@rand), class: "btn btn-primary", name: "ed"%>
            </div>
            <div class="span1" name="ed">
              <%= link_to "Delete", @rand, :confirm => "Are you sure?", :method => :delete, class: "btn btn-primary", name: "ed"%>
            </div>  
            <% end %>
          </div>
        </div>
        
  <% if session[:reg_id]%>
    <div class="span2">
      <a href="/words/new" class="btn btn-primary">Add a word</a>
    </div>
  <% end %>
  <% if !session[:reg_id]%>
    <div class="span2"></div>
  <% end %>
    <form action="/index" method="get">
    <div class="span3">
      <input id="src" name="src" type="text" style="height:32px" placeholder="search for a word">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <div class="span2"></div>
    <form action="/index" method="get">
    <div class="span3">
      <input id="usr" name="usr" type="text" style="height:32px" placeholder="search words by user">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <form action="/index" method="get">
    <div class="span2"></div>
    <div class="span3">
      <input id="lang" name="lang" type="text" style="height:32px" placeholder="search words by language">
    </div>
     <button class="btn btn-lg btn-primary btn-block" style="width:100px">Search</button>
    </form>
    <script type="text/javascript" src="assets/javascript/bootstrap.js"/>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"/>
    <script type="text/javascript" src="assets/javascript/votes.js"/>
    <script type="text/javascript" src="assets/javascript/changevotes.js"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"/>
    <script type="text/javascript" src="assets/javascript/votes.js"></script>
  </body>
</html>